<ng-container [ngSwitch]="dataState" *ngIf="{datasource: datasource$ | async } as state">
  <ng-container *ngSwitchCase="StateType.Loading">
    <mat-spinner></mat-spinner>
  </ng-container>
  <ng-container *ngSwitchCase="StateType.Loaded">
      <mat-toolbar>
          <button mat-button (click)="inputFile.click()"><mat-icon>add</mat-icon>Import file</button>
          <input #inputFile type="file" [style.display]="'none'" (change)="upload($event)" >
        </mat-toolbar>
      <div>{{state.datasource.length}} items loaded.</div>
      <my-doc-item *ngFor="let doc of state.datasource"
        [doc]="doc"
        (remove)="removeDocument(doc)"
        (download)="downloadDocument(doc)"></my-doc-item>
  </ng-container>
  <ng-container *ngSwitchCase="StateType.Failed">
      <div>Failed to load data from the server.</div>
    </ng-container>
</ng-container>
