.angular-logo {
  margin: 0 4px 3px 0;
  height: 35px;
  vertical-align: middle;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.nav-link {
  margin-right: 10px;
  a {
    color: #FFF;
  }
}
